<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generic static Folder </title>
    <link href='{% static "css/ok.css" %}' rel="stylesheet">

</head>
<body>
   <center>
    <h1>Generic Static Folder</h1>
<h1> What is Html </h1>
      <h2> HTML, or Hypertext Markup Language, is a standard language used to structure and format web pages.
        It's a set of codes and symbols that are inserted into a file ,
        to tell web browsers how to display the content on a page.</h2> 
    </h1>
</center>
</body>
</html>